$primary-color: #a2c4d9;
$secondary-color: #ffe69d;
$light-blue--1: #7aa7c7;
$light-blue--2: #39739d;
$dark-blue--1: #2c5777;
$very-light-blue--1: #e1ecf4;
$error-color: #dc3545;
$gray-light--1: #aaa;
$gray-light--2: #ddd;
$gray-light--3: #eee;
$gray-dark--1: #444;
$white-color: #fff;
$black-color: #014;
$focus-color: #2c5777;
$green-light-1: #77dd77;
