$primary-color: #a2c4d9;
$secondary-color: #ffe69d;
$error-color: #dc3545;
$gray-light--1: #aaa;
$gray-light--2: #ddd;
$gray-light--3: #eee;
$gray-dark--1: #444;
$white-color: #fff;
$black-color: #014;
$focus-color: #00b300;
