@import "colors.scss";
@import "_variables";
@import "mixins";
@import "breakpoints";

.dropdown_container {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.dropdown_menu {
  position: absolute;
  left: -6rem;
  top: -100%;
  color: $gray-light--1;
  border: $thick-border--light;
  border-radius: $border-radius-xs;
  background-color: $white-color;
  z-index: 6;
  @include breakpoint-md-and-lower {
    left: -5rem;
    top: -120%;
  }
}

.dropdown_menu .dropdown_item:last-child {
  border-bottom: none;
}

.dropdown_item {
  border-bottom: $thick-border--light;
  padding: $spacing-xs;
  display: flex;
  align-items: center;
  &:hover {
    color: $gray-dark--1;
  }
}

.item_text {
  text-transform: capitalize;
}

.dropdown_icon {
  margin-left: $spacing-xs;
}
