@import "colors";
@import "_variables";
@import "breakpoints";
@import "mixins";

@mixin btnStyle {
  padding: $padding-sm-lg;
  background: $white-color;
  border: $thin-border;
  border-radius: $border-radius-xs;
  color: $gray-dark--1;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: $gray-light--3;
    box-shadow: $box-shadow-lg;
  }
}

.login-page {
  &__container {
    height: 23.75rem;
    width: 18.75rem;
    padding: $padding-xs;
    background: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $thick-border--dark;
    border-radius: $border-radius-xs;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $box-shadow-xl;

    @include breakpoint-sm-and-lower {
      width: 15rem;
    }
  }
}

.signup {
  &__container {
    margin-top: 1.5rem;
    text-align: center;
  }

  &__text {
    font-size: 0.75rem;
  }
  &__link {
    margin-left: 0.5rem;
    color: $dark-blue--1;
    font-size: 0.875rem;
    font-weight: 600;
  }
}

.btn-wrap {
  position: relative;
  width: 100%;
  height: 2.8125rem;
  text-align: center;
}

.welcome-back--message {
  @include successTypography();
}
