@import "colors";
@import "_variables";
@import "breakpoints";
@import "mixins";

@mixin btnStyle {
  padding: $spacing-sm $spacing-lg;
  background: $white-color;
  border: $thin-border;
  border-radius: $border-radius-xs;
  color: $gray-dark--1;
  font-weight: $bold-fontweight;
  cursor: pointer;
  &:hover {
    background-color: $gray-light--3;
    box-shadow: $box-shadow-lg;
  }
}

.login-page__container{
    width: 18.75rem;
    padding: $spacing-sm;
    background: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $thick-border--dark;
    border-radius: $border-radius-xs;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $box-shadow-xl;

    @include breakpoint-sm-and-lower {
      width: 15rem;
    }
}

.signup__container{
  margin: $spacing-ml 0 $spacing-xl 0;
  text-align: center;
}

.signup__text{
  font-size: $font-sm;
}
.signup__link{
  margin-left: $spacing-sm;
  color: $dark-blue--1;
  font-size: 0.875rem;
  font-weight: 600;
}

.btn-wrap {
  position: relative;
  width: 100%;
  height: 2.8125rem;
  text-align: center;
}

.welcome-back--message {
  @include successTypography();
}
