@import "colors";
@import "_variables";

@mixin typography {
  font-size: $font-sm;
  font-weight: $bold-fontweight;
  color: $gray-light--1;
  text-transform: capitalize;
}

@mixin errorTypography {
  font-size: $font-sm;
  font-weight: $bold-fontweight;
  color: $error-color;
  margin-bottom: $spacing-sm;
}

@mixin successTypography {
  font-size: $font-m;
  font-weight: $bold-fontweight;
  color: $light-blue--2;
  margin-bottom: $spacing-sm;
}
