@import "colors";
@mixin boxStyle {
  border: 2px solid $gray-light--2;
  box-shadow: 0.125rem 0.125rem 0.1875rem $gray-light--2;
  padding: 0.5rem;
  font-weight: 600;
  color: $black-color;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 500px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 420px) {
    font-size: 0.75rem;
  }
}

@mixin displayFlex {
  display: flex;
  flex-direction: column;
}

.trip-list {
  &__container {
    max-height: 18.75rem;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      width: 0.5rem;

      @media screen and (max-width: 600px) {
        width: 0.25rem;
      }
    }
    &::-webkit-scrollbar-track {
      background: $gray-light--1;
      border-radius: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 0.5rem;
      height: 4rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $black-color;
      border-radius: 0.5rem;
    }
  }

  &__list {
    padding: 0;
  }

  &__header {
    color: $black-color;
    padding: 0.25rem;
    text-transform: uppercase;
  }

  &__count {
    align-items: center;
    @include displayFlex();
  }

  &__total-trips {
    align-self: self-start;
    padding: 1rem 1rem 1rem 0;

    .trips-spent {
      @include boxStyle();
      @include displayFlex();
      border-top-right-radius: 1rem;

      &--total-days {
        font-size: 2rem;
        color: $primary-color;
      }
    }

    .trips-refill {
      @include boxStyle();
      @include displayFlex();
      border-bottom-right-radius: 1rem;

      &--date {
        font-size: 1.2rem;
        color: $primary-color;
      }
    }

    .trips-left {
      @include displayFlex();
      @include boxStyle();
      border-top: none;
      &--exceeded {
        font-size: 1rem;
        color: $error-color;
      }
    }
  }

  &--empty {
    font-size: 1.5rem;
    color: $error-color;
  }
}

.trip {
  &__list {
    list-style: none;
  }
  &__container {
    @include boxStyle();
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    color: $black-color;
    font-weight: 600;

    @media screen and (max-width: 600px) {
      font-size: 0.75rem;
    }

    @media screen and (max-width: 420px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.25rem;
    }
  }
  &__total-days {
    background-color: $black-color;
    border: 1px solid $black-color;
    border-radius: 1rem;
    padding: 0.5rem;
    color: $white-color;
    font-size: 0.8125rem;
    @media screen and (max-width: 420px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: auto / span 2;
    }
  }
}
